<h1>Books</h1>

<ul>

<% @posts.each do |post| %>

  <li><a href="/posts/<%=post.id%>">    <%= post.title %></a></li>

<% end %>

</ul>
</br>
<a href="/posts/new">New Post</a></br>
</br>
<a href="/logout">Log out</a>