<h1>What book did you read?</h1>

<form method="POST" action="/posts">
    Title: <input type="text" name="title"><br />
    Post: <textarea name="body"></textarea><br />
    <input type="submit">
</form>